*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
nav{
	background-color: lightcyan;
}
nav ul{
	overflow: auto;
}
nav ul li{
	list-style-type: none;
	float: left;
	padding: 30px 50px;
}
nav ul li a{
	text-decoration: none;
	font-size: 30px;
}
nav ul li a:hover{
	text-decoration: underline;
	font-size: 31px;
	color: blue;
}
li{
			float: left;
			padding: 30px;
			list-style-type: none;
			font-size: 25px;
		}
		.part1{
			float: left;
			height: 500px;
			width:50%;
		}
		.part2{
			float: left;
			height: 500px;
			width:50%;
		}
